#include <stdio.h>

int main() {
    int p;
    scanf("%d", &p);

    long long dp[31][3]; 

    dp[1][1] = 2; 
    dp[1][2] = 0;

    for (int i = 2; i <= p; i++) {
        
        dp[i][1] = dp[i - 1][1] + dp[i - 1][2];
        dp[i][2] = dp[i - 1][1];
    }

    long long result = dp[p][1] + dp[p][2];
    printf("%lld\n", result);

    return 0;
}
